*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
.scard {
    display: flex;
    flex-direction: column;
   
    height: 240px;
    flex: 0 0 calc(33% - 20px);
    justify-content: flex-start;
    align-items: center;
    max-width: calc(33% - 20px);
    gap: 0.5rem;


}

/* .scard:hover .scard-body {
    background: rgba(56, 56, 56, 0.1);
}

.scard:hover .scard-header-title {
    color: #475467;
}

.scard:hover .scard-header-val {
    color: #5a6b8398;
} */



.scard-img {
    width: 108px;
    height: 108px;
    border-radius: 0;
    justify-content: center;
    display: flex;
    flex-direction: column-reverse;
    transition: transform .7s ease-in-out;
    
}
.scard-img:hover {
 transform: rotate(360deg);}

.scard-body {
    display: flex;
    flex-direction: column;


    /* padding: 20px 0 0 0; */
    /* background: #ffffff; */
    height: 100px;
    transition: all 0.3s ease;
}

.scard-header {
    display: flex;
    flex-direction: column;
    /* gap: 8px; */
    align-items: center;
    width: 300px;
    text-align: center;

}

.scard-header-title {
    font-family: "Milliard";
    font-style: normal;
    font-weight: 600;
    font-size: 2rem;
    line-height: 32px;
    margin: 0;
    color: #FBFCF8;
    transition: all 0.3s ease;
}

.scard-header-por {
font-family: "Milliard";
    font-style: normal;
    font-weight: 400;
    margin: 0;
    font-size: 1.25rem;


    color: #FBFCF8;
    transition: all 0.3s ease;
}









