.hero {
  height: 100vh;
  position: relative;
  background-image: url(../../Assets/Images/heroB4.png);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  animation: changeBg 7s linear 1 forwards;
  filter: grayscale(1);
}
@keyframes changeBg {
  0% {
    filter: grayscale(1);
  }
  100% {
    filter: grayscale(0);
  }
}
.hero::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    180deg,
    #000 0.4%,
    rgba(29, 28, 28, 0) 32.4%,
    rgba(12, 11, 11, 0) 63.35%,
    #000 100%
  );
}
.hero-main-flex {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 1.5em;
  align-items: center;
  justify-content: center;
  position: absolute;
  z-index: 1;
  bottom: 2rem;
}
.hero-para {
  color: var(--white);
  text-align: center;
  text-shadow: 4px 2px 4px rgba(16, 16, 16, 0.5),
    0px 4px 4px rgba(0, 0, 0, 0.25);
  -webkit-text-stroke-width: 0.5;
  -webkit-text-stroke-color: #fff;
  font-family: Milliard;
  font-size: 1.625rem;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  width: 45.75rem;
}
.hero-cta {
  display: inline-flex;
  padding: 12px 24px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 40px;
  border: 1px solid var(--white);
  background: var(--white);
  color: var(--dark-grey);
  font-family: Milliard;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  cursor: pointer;
}
