.journey-slider {
    position: absolute;
    top: 0;
    display: grid;
    grid-template-columns: auto auto auto auto;
    column-gap: 5vw;
    overflow-x: hidden;
    /* padding-right: 5vw; */
}

/* CARD */
.journey-card {
    height: 80vh;
    width: 25vw;
    background-size: cover !important;
    border-radius: 20px;
    position: relative;
    scroll-snap-align: start;
    scroll-snap-stop: always;
    position: relative;
}

.overlay {
    position: absolute;
    top: 0;
    height: 80vh;
    width: 25vw;
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5));
    border-radius: 20px;
}

.card-content {
    position: absolute;
    bottom: 20px;
    color: white;
    font-family: "Milliard";
    font-size: 1.25rem;
    padding: 0 5%;
}
