.tenants-middle {
  position: absolute;
  padding-top: 3.5rem;
  left: 0;
  top: 0;
  width: 97vw;
}
.rec .rec-carousel {
  position: relative;
  width: 100%;
  height: 100%;
}
.rec .rec-pagination {
  display: flex;
  margin: 2rem -0.6rem 0 0;
}
.rec .rec-item-wrapper {
  display: flex;
  gap: 20px;
  position: relative;
  left: calc(100%);
  /* border: 1px solid red; */
  width: 400px !important;
}

.rec .rec-arrow-down,
.rec .rec-arrow-up {
  visibility: hidden;
}
.rec .rec-dot {
  position: relative;
  background-color: blueviolet;
  outline: none;
  overflow: hidden;
  border: none;
  transition: all 0.3s ease;
}
.rec .rec-dot_active {
  background-color: yellowgreen;
  outline: none;
  overflow: hidden;
  border: none;
  transition: all 0.3s ease;
}

.primary-card {
  height: 500px;
}
.secondary-card {
  height: 300px;
}
.carousel-flex {
  display: flex;
  align-items: center;
}
