.stats-main {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.heading-stats {
  text-align: center;
  font-family: "Milliard";
  font-style: normal;
  font-size: 4rem;
  color: #fbfcf8;
  padding: 5vh 0;
}
.card-grid {
  background-color: rgba(209, 217, 217, 0.05);
  border: 2px solid #f6f3f3;
  border-radius: 15px;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  place-items: center;
  padding: 5vh 0;
  row-gap: 5vh;
}
@media screen and (max-width: 768px) {
  .heading-stats {
    font-size: 2rem;
  }
  .stats-main {
    padding: 0 5vw;
  }
}
