/* Global Styles */
* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
  scroll-behavior: smooth;
}
a {
  text-decoration: none;
}

/* Fonts */
@font-face {
  font-family: Milliard;
  src: url(./Assets/Fonts/Millard/Millard.otf);
}
@font-face {
  font-family: Florencesans-Black;
  src: url(./Assets/Fonts/FlourenceSans/FlorenceSans.ttf);
}

/* Variables */
:root {
  --white: #fbfcf8;
  --dark-grey: #303030;
  --light-green: #2cda8b;
  --second-green: #014d4a;
  --Darkest-green: #02353c;
}

/* App Styling */
.App {
  position: relative;
}
